@model List<Notice>
@{ 
    int count = 0;
}
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="notice-left-wrapper">
        <h3>notice board</h3>
        <div class="notice-left">
            @foreach (Notice notice in Model)
            {
                count++;
                <div class="single-notice-left @(count%3==0 && count!=0 ? "pb-70" : "mb-23 pb-20")">
                    <h4>5, June 2017</h4>
                    <p>I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete </p>
                </div>
                
            }
        </div>
    </div>
</div>