@model IEnumerable<Course>
@foreach (Course item in Model)
{
<li style="display: flex; background: white; padding: 5px;">
    <a asp-action="CourseDetail" asp-route-id="@item.Id">@item.Name</a>
</li>
}
