@model ReplyVM
<div class="reply-area">
    <h3>LEAVE A REPLY</h3>
    <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
    <form asp-controller="Account" asp-action="Reply" method="post" >
        <div class="row">

            <div class="form-group">
                <label asp-for="Name" style="color:black;font-weight: 600"></label>
                <input asp-for="Name" name="Name" class="Name" id="Name"  required>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" style="color:black;font-weight: 600"></label>
                <input asp-for="Email" name="Email" class="Email" id="Email"  required>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" style="color:black;font-weight: 600"></label>
                <input asp-for="Subject" name="Subject" class="Subject" id="Subject"  required>
                <span asp-validation-for="Subject"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" style="color:black;font-weight: 600"></label>
                <textarea asp-for="Message" name="Message" class="Message" id="Message"  cols="15" rows="10" required></textarea>
                <span asp-validation-for="Message"></span>
            </div>
        </div>
        <button class="default-btn" type="submit"><span>send</span></button>
    </form>
</div>
