@model Slider
@{ ViewData["Title"] = "Detail"; }

<div class="row">
    <img src="~/assets/img/slider/@Model.Image" width="400px" height="200px" />
</div>
<div class="row mt-3">@Model.Image</div>
<div class="row mt-3">
    <a asp-action="Index" class="btn btn-dark">Go back</a>
</div>
